<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- giver hjælp ved brug af thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Start</title>
    <link rel="stylesheet" th:href="@{/start.css}" href="/static/start.css">
</head>
<body>
<h1>Known pokemons</h1>

<form action="/start" method="post">

    Add a new pokemon :
    <input type="text" id="form_name" name="pokemon_name" placeholder="Name" required> <!-- required indtastning -->
    <input type="number" id="form_speed" name="pokemon_speed" placeholder="Speed" required>
    <input type="number" id="form_HP" name="pokemon_HP" placeholder="HP" required>
    <input type="number" id="form_sDef" name="pokemon_sDef" placeholder="S. Defence" required>
    <input type="number" id="form_sAtt" name="pokemon_sAtt" placeholder="S. Attack" required>
    <input type="number" id="form_def" name="pokemon_def" placeholder="Defence" required>
    <input type="number" id="form_att" name="pokemon_att" placeholder="Attack" required>
    <input type="text" id="form_primary" name="pokemon_primary" placeholder="Primary type" required>
    <input type="text" id="form_secondary" name="pokemon_secondary" placeholder="Secondary type" required>

    <input type="submit" id="form_button" name="submit">



</form>


<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Speed</th>
        <th>HP</th>
        <th>S.Defence</th>
        <th>S.Attack</th>
        <th>Defence</th>
        <th>Attack</th>
        <th>Primary Type</th>
        <th>Secondary Type</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    </thead>
    <tbody>
    <tr class="pokemon_row" th:each="Pokemon : ${pokemon}">  <!--model attribut fra controller -->
        <td th:text="${Pokemon.id}">
            1
        </td>
        <td th:text="${Pokemon.name}">s</td>
        <td th:text="${Pokemon.speed}">hp</td>
        <td th:text="${Pokemon.hp}">def</td>
        <td th:text="${Pokemon.specialDefence}">a</td>
        <td th:text="${Pokemon.specialAttack}">d</td>
        <td th:text="${Pokemon.defence}">a</td>
        <td th:text="${Pokemon.attack}">typ</td>
        <td th:text="${Pokemon.primaryType}">type</td>
        <td th:text="${Pokemon.secondaryType}">2nd</td>
        <td><a th:href="@{'/delete/' + ${Pokemon.id}}">Delete</a></td>
        <td><a th:href="@{'/update/' + ${Pokemon.id}}">Update</a> </td>
    </tr>
    </tbody>

</table>



</body>
</html>